.commands {
font-size: 13px;
}
.status_total {
background-color: var(--pico-color-yellow-600);
}
.action {
font-size: 12px;
padding: 5px;
color: #fff;
border-radius: 5px;
}
.action_add {
background-color: var(--pico-color-blue-600);
}
.action_remove {
background-color: var(--pico-color-red-600);
}
.action_create {
background-color: var(--pico-color-green-600);
}
.action_merge {
background-color: var(--pico-color-yellow-600);
}
.progress {
padding: 10px 0;
width: 100%;
display: flex;
}
.progress-status{
float: left;
display: inline;
padding-right: 15px;
font-size: 14px;
}
.progress-summary{
float: right;
display: inline;
padding-left: 15px;
font-size: 14px;
}
.progress-meter{
flex-grow: 1;
border-radius: 5px;
border-color: var(--pico-color-slate-800);
background-color: var(--pico-color-slate-350);
display: inline-block !important;
}
.progress-done-meter{
border-radius: 5px;
width: 0%;
height: 100%;
background-color: var(--pico-color-green-600);
-webkit-transition: width .6s ease;
-o-transition: width .6s ease;
transition: width .6s ease;
}
.pagination {
font-size: 14px;
font-weight: bold;
text-decoration: none;
padding: 0 10px;
}

.preview_notice {
    float: left; 
    width: 100%; 
    margin: 0;
}

.preview_notice p {
    color: var(--pico-color-red-600); 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
