{% extends "layout.html" %}
{% load i18n %}

{% block content %}

<p>
  {% blocktranslate %}Batch <code>#{{ pk }}</code> not found.{% endblocktranslate %}
</p>

<form id="batchForm">
  <fieldset role="group">
    <input id="batchInput" type="text" placeholder="{% translate 'Batch ID' %}" oninput="updateBatchForm()" />
    <input type="submit" value="{% translate 'See batch details' %}" />
  </fieldset>
</form>

{% endblock %}

{% block scripts %}
<script>
  function updateBatchForm() {
    document.getElementById("batchForm").action = "/batch/" + document.getElementById("batchInput").value;
  }

</script>
{% endblock %}
