DJANGO_SECRET_KEY=<SECRETKEY>

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

BASE_REST_URL=<optional>
# example: https://test.wikidata.org/w/rest.php
# defaults to: https://www.wikidata.org/w/rest.php


DB_ROOT_PASSWORD=your_db_root_password
DB_ENGINE=django.db.backends.mysql
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=mariadb
DB_PORT=3306

TOOLFORGE_TOOL_NAME=
# only use when deploying to Toolforgre
