DJANGO_SECRET_KEY=<SECRETKEY>

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

BASE_REST_URL=<optional>
# example: https://test.wikidata.org/w/rest.php
# defaults to: https://www.wikidata.org/w/rest.php

TOOLFORGE_TOOL_NAME=
# only use when deploying to Toolforgre
