{% load i18n %}

<div id="batchProgressDiv"
      {% if batch.is_initial_or_running %}
      hx-get="{% url 'batch_summary' pk=pk %}?previous_status={{ batch.status }}"
      hx-trigger="load delay:3s"
      hx-swap="outerHTML"
      hx-indicator="#spinner"
      {% endif %}
      style="margin: 20px 0; font-size: 14px;">

<div class="progress" id="batchprogress">
  <div class="progress-status">{% translate "BATCH STATUS" %}
    <b class="status status_{{ status | lower }}">{{status | upper}}</b>
  </div>
  <div class="progress-meter">
    <div id="progress-done-meter"
      class="progress-done-meter"
      style="width: {{done_percentage|floatformat:'0'}}%;"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="{{done_percentage}}"
    >
    </div>
  </div>
  <div class="progress-summary">{{done_percentage}}% {% translate "DONE" %} ({% blocktranslate %}{{done_count}} of {{total_count}}{% endblocktranslate %})</div>
</div>

<div>
    {% translate "COMMANDS SUMMARY" %}
    <b class="status status_total">{% translate "TOTAL" %}: {{total_count}}</b>
    {% if initial_count %}<b class="status status_initial">{% translate "INIT" %}: {{initial_count}}</b>{% endif %}
    {% if running_count %}<b class="status status_running">{% translate "RUNNING" %}: {{running_count}}</b>{% endif %}
    {% if done_count %}<b class="status status_done">{% translate "DONE" %}: {{done_count}}</b>{% endif %}
    {% if error_count %}<b class="status status_error">{% translate "ERRORS" %}: {{error_count}}</b>{% endif %}
    {% if show_block_on_errors_notice %}
    <small>
      {% translate "This batch will be blocked if a command fails." %}
    </small>
    {% endif %}
</div>

</div>
