{% extends "layout.html" %}

{% block css %}

.commands {
  font-size: 13px;  
}

.status {
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.status_initial {
  background-color: var(--pico-color-slate-600);
}

.status_running {
  background-color: var(--pico-color-blue-600);
}

.status_done {
  background-color: var(--pico-color-green-600);
}

.status_error {
  background-color: var(--pico-color-red-600);
} 

.status_total {
  background-color: var(--pico-color-yellow-600);
} 

.action {
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;  
}

.action_add {
  background-color: var(--pico-color-blue-600);
}

.action_remove {
  background-color: var(--pico-color-red-600);
}

.action_create {
  background-color: var(--pico-color-green-600);
}

.action_merge {
  background-color: var(--pico-color-yellow-600);
} 

.progress {
  padding: 10px 0;
  width: 100%;
  display: flex;
}

.progress-status{
  float: left;
  display: inline;
  padding-right: 15px;
  font-size: 14px;
}

.progress-summary{
  float: right;  
  display: inline;
  padding-left: 15px;
  font-size: 14px;
}

.progress-meter{
  flex-grow: 1;
  border-radius: 5px;
  border-color: var(--pico-color-slate-800);
  background-color: var(--pico-color-slate-350);
  display: inline-block !important;
}

.progress-done-meter{
  border-radius: 5px;
  width: 0%;
  height: 100%;
  background-color: var(--pico-color-green-600);
}

.pagination {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}
{% endblock %}

{% block content %}

<div style="float: left;">
<hgroup>
  <h2> Batch #{{ batch.pk }} <img id="spinner" class="htmx-indicator"></h2>
  <p><b>{{batch.name}}</b></p>
  <p>
    Created by {{ batch.user }}
    [<a href="{% url 'last_batches_by_user' user=batch.user %}">View batches</a>]</a>
    [<a href="https://www.wikidata.org/wiki/User:{{batch.user}}">View wikidata</a>]
  </p>
</hgroup>
</div>

<div style="float: right;">
  {% if current_owner and batch.is_running %}
  <button class="secondary" onclick="showModal();">Stop execution</button>
  {% endif %}
</div>


<div id="batchProgressDiv" 
      hx-get="{% url 'batch_summary' pk=batch.pk %}"
      hx-trigger="load, every 10s" 
      hx-swap="innerHTML" 
      hx-indicator="#spinner"
      style="margin: 20px 0; font-size: 14px;">
      Loading summary...
</div>

<h4>Commands</h4>

<div class="overflow-auto" 
    id="batchCommandsDiv" 
    hx-get="{% url 'batch_commands' pk=batch.pk %}"
    hx-trigger="load, reload" 
    hx-indicator="#spinner"
    hx-swap="innerHTML">
Loading commands...
</div>

<form action="{% url 'batch_stop' pk=batch.pk %}" id="stopbatch" method="POST">
{% csrf_token %}
</form>

<dialog id="confirmStop">
  <article>
    <h2>Stop batch #{{batch.pk}} processing</h2>
    <p>
      Are you sure you want to stop the current batch processing?
    </p>
    <footer>
      <button class="secondary" onclick="closeModal()">No, continue</button>
      <button onclick="stop()">Stop processing !</button>
    </footer>
  </article>
</dialog>

{% endblock %}

{% block scripts %}
<script>
function showModal() {
    document.getElementById("confirmStop").setAttribute("open", "");
}

function closeModal() {
    document.getElementById("confirmStop").removeAttribute("open", "");
}

function stop() {
    document.getElementById("stopbatch").submit();
}

</script>
{% endblock scripts %}

