{% extends "layout.html" %}


{% block pagetitle %}QuickStatements 3.0 - Last batches{% endblock%}

{% block css %}

.list {
  font-size: 13px;  
}

.pagination {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; gap: 10px;">
  <h2> Last batches {% if username is not None %} from {{username}}{% endif %}</h2>
  <img id="spinner" class="htmx-indicator" style="margin-bottom: 1em;">
</div>

<div class="overflow-auto list">
  <table class="striped">
    <thead>
      <tr>
        <th scope="col"> # </th>
        {% if username is None %}<th scope="col"> User </th>{% endif %}
        <th scope="col"> Name </th>
        <th scope="col"> Status </th>
        <th scope="col"> Modified </th>
        <th scope="col"> Actions </th>
      </tr>
    </thead>
    <tbody id="lastBatchesTBody" hx-get="/batches/{% if username is not None %}{{ username }}/{% endif %}"
      hx-trigger="load delay:5s" hx-select="#lastBatchesTBody" hx-swap="outerHTML"
      hx-indicator="#spinner">
      {% for batch in page.object_list %}
      <tr>
        <th scope="row"><a href="{% url 'batch' pk=batch.pk %}">#{{ batch.pk }}</a></th>
        {% if username is None %}
        <td>
          <a href="https://www.wikidata.org/wiki/User:{{batch.user}}">
            {{ batch.user }}
          </a>
          <br>
          [<a href="{% url 'last_batches_by_user' user=batch.user %}">View batches</a>]
          </a>
        </td>
        {% endif %}
        <td>{{ batch.name }}</td>
        <td><span class="status status_{{ batch.get_status_display | lower }}">{{ batch.get_status_display | upper }}</td>
        <td>{{ batch.modified }}</td>
        <td>
          <a href="{% url 'batch' pk=batch.pk %}">View</a><br>
          <a href="https://editgroups.toolforge.org/b/QSv3/{{batch.pk}}">Revert / Discuss</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if page.has_other_pages %}
  <div style="display: inline-block; width: 100%;">
      
    <div style="display: inline-block; width: 35%;">
      
        {% if page.has_previous %}
        <span class="pagination prev-page">
          <a href="{% url 'last_batches_by_user' user=user %}?page=1">
            << FIRST
          </a>
        </span> 
        
        <span class="pagination prev-page">
          <a href="{% url 'last_batches_by_user' user=user %}?page={{page.previous_page_number}}">
            < PREVIOUS
          </a>
        </span> 
        {% endif%}
    
    </div>

    <div style="display: inline-block; text-align: center; width: 30%;">
        <span class="pagination current-page">
          Pg. {{page.number}} of {{page.paginator.num_pages}}
        </span> 
    </div>

    <div  style="display: inline-block; text-align: right;  width: 33%;">
    
      {% if page.has_next %}
      <span class="pagination next-page">
        <a href="{% url 'last_batches_by_user' user=user %}?page={{page.next_page_number}}">
            NEXT >
        </a>
      </span> 
        
      <span class="pagination next-page">
        <a href="{% url 'last_batches_by_user' user=user %}?page={{page.paginator.num_pages}}">
            LAST>>
        </a>
      </span> 
      {% endif%}
  
    </div>
  
  </div>
  {% endif %}

{% endblock %}
