{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}QuickStatements 3.0 - {% translate "Batch" %} #{{ batch.pk }}{% endblock%}

{% block css %}
{% include '_batch_css.html' %}
{% endblock %}

{% block content %}

<div style="float: left;">
<hgroup>
  <h2> {% translate "Batch" %} #{{ batch.pk }} <img id="spinner" class="htmx-indicator"></h2>
  <p><b>{{batch.name}}</b></p>
  <p>
    {% translate 'Created by' %} {{ batch.user }}
    [<a href="{% url 'last_batches_by_user' user=batch.user %}">{% translate "View batches" %}</a>]</a>
    [<a href="https://www.wikidata.org/wiki/User:{{batch.user}}">{% translate "View wikidata" %}</a>]
  </p>
</hgroup>
</div>

<div style="float: right;">
  {% if current_owner %}
    {% if batch.is_initial_or_running %}
    <button class="secondary" onclick="showModal();">{% translate "Stop execution" %}</button>
    {% elif batch.is_stopped %}
    <form method="POST" action="{% url 'batch_restart' pk=batch.pk %}">
      {% csrf_token %}
      <input type="submit" value="Restart">
    </form>
    {% endif %}
  {% endif %}
</div>


<div id="batchProgressDiv" 
      hx-get="{% url 'batch_summary' pk=batch.pk %}"
      {% if batch.is_initial_or_running %}
      hx-trigger="load, every 3s"
      {% else %}
      hx-trigger="load"
      {% endif %}
      hx-swap="innerHTML" 
      hx-indicator="#spinner"
      style="margin: 20px 0; font-size: 14px;">
      {% translate "Loading summary..." %}
</div>

<h4>{% translate "Commands" %}</h4>

<div class="overflow-auto" 
    id="batchCommandsDiv" 
    hx-get="{% url 'batch_commands' pk=batch.pk %}"
    hx-trigger="load, reload" 
    hx-indicator="#spinner"
    hx-swap="innerHTML">
{% translate "Loading commands..." %}
</div>

<form action="{% url 'batch_stop' pk=batch.pk %}" id="stopbatch" method="POST">
{% csrf_token %}
</form>

<dialog id="confirmStop">
  <article>
    <h2>{% blocktranslate %}Stop batch #{{batch.pk}} processing{% endblocktranslate %}</h2>
    <p>
      {% translate "Are you sure you want to stop the current batch processing?" %}
    </p>
    <footer>
      <button class="secondary" onclick="closeModal()">{% translate "No, continue" %}</button>
      <button onclick="stop()">{% translate "Stop processing" %}</button>
    </footer>
  </article>
</dialog>

{% endblock %}

{% block scripts %}
<script>
function showModal() {
    document.getElementById("confirmStop").setAttribute("open", "");
}

function closeModal() {
    document.getElementById("confirmStop").removeAttribute("open", "");
}

function stop() {
    document.getElementById("stopbatch").submit();
}

</script>
{% endblock scripts %}

