{% extends "layout.html" %}

{% block css %}

.commands {
  font-size: 13px;  
}

.status_initial {
  background-color: var(--pico-color-slate-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.status_running {
  background-color: var(--pico-color-blue-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.status_done {
  background-color: var(--pico-color-green-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.status_error {
  background-color: var(--pico-color-red-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
} 

.action_add {
  background-color: var(--pico-color-blue-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.action_remove {
  background-color: var(--pico-color-red-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.action_create {
  background-color: var(--pico-color-green-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.action_merge {
  background-color: var(--pico-color-yellow-600);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
} 

tr:nth-child(even) td {background-color: #f2f2f2;}
tr:nth-child(even) th {background-color: #f2f2f2;}

.progress {
  padding: 10px 0;
  width: 100%;
  display: flex;
}

.progress-status{
  float: left;
  display: inline;
  padding-right: 15px;
  font-size: 14px;
}

.progress-summary{
  float: right;  
  display: inline;
  padding-left: 15px;
  font-size: 14px;
}

.progress-meter{
  flex-grow: 1;
  border-radius: 5px;
  border-color: var(--pico-color-slate-800);
  background-color: var(--pico-color-slate-350);
  display: inline-block !important;
}

.progress-done-meter{
  border-radius: 5px;
  width: 0%;
  height: 100%;
  background-color: var(--pico-color-green-600);
}

{% endblock %}

{% block content %}

<hgroup>
  <h2> Batch #{{ batch.pk }} - {{batch.name}}</h2>
  <p>
    Created by {{ batch.user }}
    [<a href="{% url 'last_batches_by_user' user=batch.user %}">View batches</a>]</a>
    [<a href="https://www.wikidata.org/wiki/User:{{batch.user}}">View wikidata</a>]
  </p>
</hgroup>

{% include 'batch_summary.html' %}

<h3> Commands </h3>

<div class="overflow-auto">
  <table class="commands">
    <tbody>
      {% for command in batch.commands %}
      <tr>
        <th scope="row">#{{ command.index }}</th>
        
        <td>
          <span class="status_{{ command.status_info.lower }}">
            {{ command.status_info }}
          </span>
        </td>

        {% if command.is_error_status %}

          <td colspan="2">
            {{command.message}}
          </td>
          <td colspan="2">
            {{command.raw}}
          </td>

        {% else %}

          <td >
              {{ command.entity_info }}
          </td>
          
          <td >
            <span class="action_{{ command.get_action_display.lower }}">
              {{ command.get_action_display }}
            </span>
          </td>

          <td>
            {% if command.is_merge_command %}
            STATEMENT
            {% else %}
            {{command.what}}
            {% endif %}
          </td>

          <td>
            {% if command.is_label_alias_description_command %}
              <i>{{ command.language }}</i>:
            {% elif command.is_merge_command %}
              {{ command.json.item1 }} - {{ command.json.item2 }} 
            {% elif command.is_sitelink_command %}
              <i>{{ command.sitelink }}</i>:
            {% else %}
              {{ command.prop }}:
            {% endif %}
            {{ command.value }}
          </td>

        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

