  <table class="commands striped">
    <tbody>
      {% for command in page.object_list %}
      <tr>
        <th scope="row">#{{ command.index }}</th>
        
        <td>
          <span class="status status_{{ command.status_info.lower }}">
            {{ command.status_info }}
          </span>
        </td>

        {% if command.is_error_status %}

          <td colspan="2">
            {{command.message}}
          </td>
          <td colspan="2">
            {{command.raw}}
          </td>

        {% else %}

          <td >
              {{ command.display_label }}
              {{ command.entity_info }}
          </td>
          
          <td >
            <span class="action action_{{ command.get_action_display.lower }}">
              {{ command.get_action_display }}
            </span>
          </td>

          <td>
            {% if command.is_merge_command %}
            STATEMENT
            {% else %}
            {{command.what}}
            {% endif %}
          </td>

          <td>
            {% if command.is_label_alias_description_command %}
              <i>{{ command.language }}</i>:
            {% elif command.is_merge_command %}
              {{ command.json.item1 }} - {{ command.json.item2 }} 
            {% elif command.is_sitelink_command %}
              <i>{{ command.sitelink }}</i>:
            {% else %}
              {{ command.prop }}:
            {% endif %}
            {{ command.value }}
          </td>

        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="text-align: right; font-size: 10px; margin-bottom: 24px;">
    {% if only_errors %}
    SHOWING ONLY ERRORS - 
    <a  style="cursor: pointer;"
        hx-get="{% url 'batch_commands' pk=batch_pk %}" 
        hx-target="#batchCommandsDiv" 
        hx-swap="innerHTML">
        SHOW ALL
    </a>
    {% else %}
    SHOWING ALL - 
    <a  style="cursor: pointer;"
        hx-get="{% url 'batch_commands' pk=batch_pk %}?show_errors=1" 
        hx-target="#batchCommandsDiv" 
        hx-swap="innerHTML">
        SHOW ONLY ERRORS
    </a>
    {% endif %}
  </div>

  {% if page.has_other_pages %}
  <div style="display: inline-block; width: 100%;">
      
    <div style="display: inline-block; width: 35%;">
      
        {% if page.has_previous %}
        <span class="pagination prev-page">
          <a hx-get="{% url 'batch_commands' pk=batch_pk %}?page=1{% if only_errors %}&show_errors=1{% endif %}" 
              hx-target="#batchCommandsDiv" 
              hx-swap="innerHTML">
            << FIRST
          </a>
        </span> 
        
        <span class="pagination prev-page">
          <a hx-get="{% url 'batch_commands' pk=batch_pk %}?page={{page.previous_page_number}}{% if only_errors %}&show_errors=1{% endif %}" 
              hx-target="#batchCommandsDiv" 
              hx-swap="innerHTML">
            < PREVIOUS
          </a>
        </span> 
        {% endif%}
    
    </div>

    <div style="display: inline-block; text-align: center; width: 30%;">
        <span class="pagination current-page">
          Pg. {{page.number}} of {{page.paginator.num_pages}}
        </span> 
    </div>

    <div  style="display: inline-block; text-align: right;  width: 33%;">
    
      {% if page.has_next %}
      <span class="pagination next-page">
        <a hx-get="{% url 'batch_commands' pk=batch_pk %}?page={{page.next_page_number}}{% if only_errors %}&show_errors=1{% endif %}" 
          hx-target="#batchCommandsDiv" 
          hx-swap="innerHTML">
            NEXT >
        </a>
      </span> 
        
      <span class="pagination next-page">
        <a hx-get="{% url 'batch_commands' pk=batch_pk %}?page={{page.paginator.num_pages}}{% if only_errors %}&show_errors=1{% endif %}" 
            hx-target="#batchCommandsDiv" 
            hx-swap="innerHTML">
            LAST>>
        </a>
      </span> 
      {% endif%}
  
    </div>
  
  </div>
  {% endif %}
