{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="{% static 'pico.jade.min.css' %}">
  <title>Quick Statements 3.0</title>
</head>

<body>
  <main class="container">
    <nav>
      <ul>
        <li><a href="{% url 'home' %}"><strong>QuickStatemens 3.0</strong></a></li>
        <li><a href="{% url 'last_batches' %}">Last batches</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'profile' %}">Profile</a></li>
      </ul>
    </nav>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>
