{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}QuickStatements 3.0 - {% translate "Batch" %} #{{ batch.pk }}{% endblock%}
{% block css %}
{% include '_batch_css.html' %}
{% endblock %}
{% block content %}
<div style="float: left;">
    <hgroup>
        <h2> {% translate "Batch Preview" %} <img id="spinner" class="htmx-indicator"></h2>
        <p><b>{{batch.name}}</b></p>
    </hgroup>
</div>
<div style="float: right;">
    <form method="POST" action="{% url 'batch_allow_start' %}">
        {% if is_autoconfirmed %}
        {% csrf_token %}
        <input type="submit" value="{% translate 'Save and run batch' %}">
        {% else %}
        <input type="submit" value="{% translate 'Save and run batch' %}" disabled>
        <small>
            {% translate "Note: only autoconfirmed users can run batches." %}
        </small>
        {% endif %}
    </form>
</div>
<div class="preview_notice">
  <p>
      {% translate "THIS BATCH IS IN PREVIEW MODE, AND WILL BE ONLY SAVED AND PROCESSED AFTER CLICKING 'Save and run batch'." %}
  </p>
</div>
<div id="batchProgressDiv" style="margin: 20px 0; font-size: 14px; ">
    {% include 'batch_summary.html' with done_count=0 done_percentage=0 status="Preview" %}
</div>
<h4>{% translate "Commands" %}</h4>
<div class="overflow-auto" id="batchCommandsDiv" hx-get="{% url 'preview_batch_commands' %}" hx-trigger="load, reload" hx-indicator="#spinner" hx-swap="innerHTML">
    {% translate "Loading commands..." %}
</div>
{% endblock %}
