{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}QuickStatements 3.0 - {% translate "Batch" %} #{{ batch.pk }}{% endblock%}

{% block css %}

.commands {
  font-size: 13px;  
}

.status_total {
  background-color: var(--pico-color-yellow-600);
} 

.action {
  font-size: 12px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;  
}

.action_add {
  background-color: var(--pico-color-blue-600);
}

.action_remove {
  background-color: var(--pico-color-red-600);
}

.action_create {
  background-color: var(--pico-color-green-600);
}

.action_merge {
  background-color: var(--pico-color-yellow-600);
} 

.progress {
  padding: 10px 0;
  width: 100%;
  display: flex;
}

.progress-status{
  float: left;
  display: inline;
  padding-right: 15px;
  font-size: 14px;
}

.progress-summary{
  float: right;  
  display: inline;
  padding-left: 15px;
  font-size: 14px;
}

.progress-meter{
  flex-grow: 1;
  border-radius: 5px;
  border-color: var(--pico-color-slate-800);
  background-color: var(--pico-color-slate-350);
  display: inline-block !important;
}

.progress-done-meter{
  border-radius: 5px;
  width: 0%;
  height: 100%;
  background-color: var(--pico-color-green-600);
}

.pagination {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}
{% endblock %}

{% block content %}

<div style="float: left;">
<hgroup>
  <h2> {% translate "Batch Preview" %} <img id="spinner" class="htmx-indicator"></h2>
  <p><b>{{batch.name}}</b></p>
</hgroup>
</div>

<div style="float: right;">
    <form method="POST" action="{% url 'batch_allow_start' %}">
      {% if is_autoconfirmed %}
        {% csrf_token %}
        <input type="submit" value="Allow batch to run">
      {% else %}
        <input type="submit" value="Allow batch to run" disabled>
        <small>
          {% translate "Note: only autoconfirmed users can run batches." %}
        </small>
      {% endif %}
    </form>
</div>

<div id="batchProgressDiv" style="margin: 20px 0; font-size: 14px;">
  <div class="progress" id="batchprogress">
  <div class="progress-status">{% translate "BATCH STATUS" %}
    <b class="status status_preview">{% translate "PREVIEW" %}</b>
  </div>
  <div class="progress-meter">
    <div class="progress-done-meter" style="width: 0%;"></div>
  </div>
  <div class="progress-summary">{{0}}% {% translate "DONE" %} ({% blocktranslate %}{{0}} of {{total_count}}{% endblocktranslate %})</div>
</div>

<div>
    {% translate "COMMANDS SUMMARY" %}
    <b class="status status_total">{% translate "TOTAL" %}: {{total_count}}</b>
    <b class="status status_initial">{% translate "INITIAL" %}: {{init_count}}</b>
    <b class="status status_error">{% translate "ERRORS" %}: {{error_count}}</b>
    {% if batch.block_on_errors %}
    <small>
      {% translate "This batch will be blocked if a command fails." %}
    </small>
    {% endif %}
</div>
</div>

<h4>{% translate "Commands" %}</h4>

<div class="overflow-auto" 
    id="batchCommandsDiv" 
    hx-get="{% url 'preview_batch_commands' %}"
    hx-trigger="load, reload" 
    hx-indicator="#spinner"
    hx-swap="innerHTML">
{% translate "Loading commands..." %}
</div>

{% endblock %}


