{% extends "layout.html" %}

{% block pagetitle %}QuickStatements 3.0 - Profile{% endblock%}

{% block content %}

{% if user.is_authenticated %}

<h1> {{ user.username }} </h1>
<p><a href="{% url 'last_batches_by_user' user=user.username %}">Your last batches</a></p>
<p><a href="{% url 'logout' %}"> Click here to log out.</a></p>

<article>
    <h2>Autoconfirmed status</h2>
    <p>In order for your batches to run on QuickStatements, you need to be an
        <a href="https://www.wikidata.org/wiki/Special:MyLanguage/Wikidata:Autoconfirmed_users">
            autoconfirmed</a>
    user.</p>
    <p>
        {% if is_autoconfirmed %}
        <article style="background: var(--pico-color-jade-50);">
            <center>
                We have successfully verified that you are an autoconfirmed user.
            <center>
        </article>
        {% else %}
        <article style="background: var(--pico-color-red-100);">
            <center>
                {% if token_failed %}
                We could not verify you are an autoconfirmed user.
                {% else %}
                You are not an autoconfirmed user.
                {% endif %}
            <center>
        </article>
        {% endif %}
    </p>
</article>

<article>
    <h2> Preferences </h2>
    <form method="POST">
        {% csrf_token %}
        <label for="language">Preferred language</label>
        <select name="language" required>
            {% for code, name in language_choices %}
            <option {% if code == language %}selected{% endif %} value="{{ code }}"> {{ code }}: {{ name }} </option>
            {% endfor %}
        </select>
        <input type="hidden" name="action" value="update_language">
        <input type="submit" value="Update preferred language">
    </form>
</article>

<article>
    <h2>API Token</h2>
    <form method="POST">
        {% csrf_token %}
        <p>Here, you can generate a token to use when querying batch jobs programatically.</p>
        <p>
            You currently have the following token. This token must be kept private:
            <article style="background: var(--pico-color-grey-100);">
                <center><h5>{{token}}</h5><center>
            </article>
        </p>
        <input type="hidden" name="action" value="update_token">
        <input type="submit" value="Update token">
    </form>
</article>

{% else %}

<h1> You're not logged in. </h1>
<p><a href="{% url 'login' %}"> Click here to log in.</a></p>

{% endif %}

{% endblock content %}
